/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

body {
    margin: 0;
    padding: 0;
    background-color: unset;
    font-family: IBM Plex Sans Condensed;
    #top-bar {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #444;
        color: white;
        height: 4em;
        display:none;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        @media only screen and (max-width: 991px){
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
        }
        #logo {
            position: absolute;
            margin-left: auto;
            width: 100%;
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;

            img {
                height: 3.8em;
            }
        }
        .menu {
            height: 3em;
            width: 3em;
            background-color: unset;
            display: inline-block;
            margin-right: 1em;
            z-index: 99;
            .hamburger {
                border-right: 5px solid black;
                height: 3em;
                position: absolute;
                -webkit-transition: 0.8s;
                -o-transition: 0.8s;
                transition: 0.8s;
                opacity: 1;

                &:nth-child(1){
                    margin-left: 0.5em;
                }
                &:nth-child(2){
                    margin-left: 1.3em;
                }
                &:nth-child(3){
                    margin-left: 2.2em;
                }

            }
            .hamburger.active {
                border-right: 5px solid white;

                &:nth-child(1){
                    margin-left: 0.5em;
                    -webkit-transform: translateX(13px) rotate(45deg);
                        -ms-transform: translateX(13px) rotate(45deg);
                            transform: translateX(13px) rotate(45deg);
                }
                &:nth-child(2){
                    opacity: 0;
                }
                &:nth-child(3){
                    margin-left: 2.2em;
                    -webkit-transform: translateX(-13px) rotate(-45deg);
                        -ms-transform: translateX(-13px) rotate(-45deg);
                            transform: translateX(-13px) rotate(-45deg);
                }
            }
        }
    }
    #mobile-nav {
        width: 0% ;
        margin-top: 0em;
        height: calc(100% - 4em);
        left: 0;
        background-color: #444;
        padding: 0px !important;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        position: fixed;
        overflow: hidden; 
        @media only screen and (min-width: 992px){
            display: none !important;
        }
        .option{
            opacity: 0;
        }
        
        .search {
            display: none;
        }
    }
    #mobile-nav.active {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        width: 40%;
        -webkit-animation: mobile-in 1s;
                animation: mobile-in 1s;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: top;
            -ms-flex-pack: top;
                justify-content: top;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0px !important;
        border-top: 2px solid #fff;
        .option {
            margin-top: 1em;
            opacity: 1;
            -webkit-animation: mobile-options 1.4s;
                    animation: mobile-options 1.4s;
            font-size: 1.2em;
            color: #fff !important;
            list-style-type: none;
            position: relative;
            cursor: pointer;

                &::after {
                    position: absolute;
                    content: "";
                    height: 2px;
                    width: 0%;
                    bottom: -4px;
                    left: 0px;
                    border-bottom: 2px solid lawngreen;
                    -webkit-transition: 0.6s;
                    -o-transition: 0.6s;
                    transition: 0.6s;

                }

                &:hover{
                    &::after {
                    width: 100% !important;
                    }
                }
        }

        .search {
            margin-top: 1em;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;

            .searchgo {
                border-left: none;
                background-color: lawngreen;
                color: #000;
            }
        }
    }

    .categories {
        cursor: pointer;

        &:hover {
            color: lawngreen;
        }
    }

    #account-menu {
        right: 0 !important;
    }
    #header-menu, #account-menu {
        z-index: 1;
        width: 0% ;
        margin-top: 0em;
        height: calc(100% - 5em);
        background-color: #444;
        padding: 0px !important;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        position: fixed;
        @media only screen and (max-width: 991px){
            display: none !important;
        }
        .option{
            opacity: 0;
        }

        img {
            display: none;
        }
 
    }
    #header-menu.active, #account-menu.active {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        width: 30%;
        -webkit-animation: mobile-in 1s;
                animation: mobile-in 1s;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0px !important;
        border-top: 2px solid #E9A142;

        @media only screen and (min-width: 1300px){
            width: 20%;
        }

        .option {
            margin-top: 1em;
            opacity: 1;
            -webkit-animation: mobile-options 1.4s;
                    animation: mobile-options 1.4s;
            font-size: 1.4em;
            color: #fff !important;
            list-style-type: none;
            position: relative;
            cursor: pointer;

                &::after {
                    position: absolute;
                    content: "";
                    height: 2px;
                    width: 0%;
                    bottom: -4px;
                    left: 0px;
                    border-bottom: 2px solid lawngreen;
                    -webkit-transition: 0.6s;
                    -o-transition: 0.6s;
                    transition: 0.6s;

                }

                &:hover{
                    &::after {
                    width: 100% !important;
                    }
                }
        }

        .close {
            position: absolute;
            top: 0em;
            right: 0em;
            height: 40px;
            width: 40px;
            cursor: pointer;
            -webkit-transition: 0.6s;
            -o-transition: 0.6s;
            transition: 0.6s;
            opacity: 1;
    

            img {
                display: block;
                width: 100%;
                -webkit-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                        transform: rotate(180deg);
            }
        }
    }

    .header-nav{
        background-color: #444;
        width:100%;
        top: 0;
        padding-bottom: 1em;
        display: block;
        -webkit-box-shadow: 0px 7px 11px -4px rgba(0,0,0,0.75);
        box-shadow: 0px 7px 11px -4px rgba(0,0,0,0.75);

        
        .side {
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            margin: 0 0em;
            height: 80%;
            margin-right: 2em;
            -webkit-box-pack: end;
                -ms-flex-pack: end;
                    justify-content: flex-end;

            form {
                margin: 0 1em;
            }

            &:nth-child(1){
                margin-right: 0em;
                margin-left: 2em;
                -webkit-box-pack: start;
                    -ms-flex-pack: start;
                        justify-content: flex-start;
            }

            &:nth-child(2){
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                margin-right: 0em;
                margin-left: 0em;
            }

            div {
                margin: 0em 1em;
            }
            
            .header-button {
                position: relative;
                cursor: pointer;

                &::after {
                    position: absolute;
                    content: "";
                    height: 2px;
                    width: 0%;
                    bottom: -4px;
                    left: 0px;
                    border-bottom: 2px solid lawngreen;
                    -webkit-transition: 0.6s;
                    -o-transition: 0.6s;
                    transition: 0.6s;

                }

                &:hover{
                    &::after {
                    width: 100% !important;
                    }
                }
            }
        }

        #logo {
            height: 4.5em;
            width: 10em;
            margin:auto;
            img {
                max-height:4.5em;  
                max-width: 100%;
            }
        }

        @media only screen and (max-width: 991px){
            display:none;
        }
    }

    .advert {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
        height: 100px; 
        background: -webkit-gradient(linear, left top, right top, from(grey), to(white)); 
        background: -o-linear-gradient(left, grey, white); 
        background: linear-gradient(to right, grey, white);
        border-bottom: 2px solid black;

        @media only screen and (max-width: 991px){
            margin-top: 4em;
        }
    }


    //Re-usable stuff
    .main {
        max-width: 1200px;
        width: 100%;
        margin: auto;

        .column {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;

            div {
                &:first-child {
                    margin-top: 0px !important;
                }

                &:last-child {
                    margin-bottom: 0px !important;
                }
            }

            .c1 {
                -webkit-box-flex: 1;
                    -ms-flex: 1;
                        flex: 1;
                background: green;
            }

            .c2 {
                -webkit-box-flex: 2;
                    -ms-flex: 2;
                        flex: 2;
                background: yellow;
            }

            .c3 {
                -webkit-box-flex: 3;
                    -ms-flex: 3;
                        flex: 3;
                background: red;
            } 

            .mg-top {
                margin-top: 1em;
            }
        }

        .row {
            margin-top: 1em;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;

            @media only screen and (max-width: 991px){
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
            }

            .s1, .s2, .s3 {
                margin: 2em 0em;
                min-height: 100px;
                display:-webkit-box;
                display:-ms-flexbox;
                display:flex;
                -ms-flex-pack: distribute;
                    justify-content: space-around;
                -webkit-box-align: normal;
                    -ms-flex-align: normal;
                        align-items: normal;
                text-align: center;
            }
            
            .s3 {
                background-color: #444;
                width: 100%;
                -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.5);
                box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.5);
                @media only screen and (max-width: 991px){
                    width: 100%;
                    margin-top: 1em;
                }
            }

            .s2 {
                background-color: #E9A142;
                width: 65.4%;
                -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.5);
                box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.5);
                @media only screen and (max-width: 991px){
                    width: 100%;
                    margin-top: 1em;
                }
            }

            .s1 {
                background-color: #c38c82;
                width: 31%;
                -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.5);
                box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.5);
                @media only screen and (max-width: 991px){
                    width: 100%;
                    margin-top: 1em;
                }
            }
        }
    }

    //Overall used

    .transparent {
        background: transparent !important;
    }

    .dropdown {
        .to-drop {
            display:none;
            padding-top: 2em !important;
            background-color: #000;
            color:white;
            position: absolute;
            -webkit-transform: translate(-15%, 0%);
                -ms-transform: translate(-15%, 0%);
                    transform: translate(-15%, 0%);
            border-right: 2px solid #fff;
            border-left: 2px solid #fff;
            li {
                text-align: left;
                list-style-type: none;
                position: relative;
                cursor: pointer;
                margin-top: 5px;

                &::after {
                    position: absolute;
                    content: "";
                    height: 2px;
                    width: 0%;
                    bottom: -4px;
                    left: 0px;
                    border-bottom: 2px solid lawngreen;
                    -webkit-transition: 0.6s;
                    -o-transition: 0.6s;
                    transition: 0.6s;

                }

                &:hover{
                    &::after {
                    width: 100% !important;
                    }
                }
            }

            &:hover {
                display:-webkit-box;
                display:-ms-flexbox;
                display:flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-pack: start;
                    -ms-flex-pack: start;
                        justify-content: flex-start;
                padding: 1em 2em 1em 2em; 
            }
            .drop-contain {
                background-color: #444;
                height: 1.1em;
                width: 110%;
                position: absolute;
                display:inline-block;
                top:0;
                left: -1.2em;
            }
            
        }
        

        &:hover .to-drop, .drop-contain:hover .to-drop{
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
            padding: 1em;
        }
    }

    .search {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

        .searchbar {
            padding: 0.5em 3em;
            border-radius: 5%;
            background-color: #000;
            color: #fff;
            border: none;
            text-align: center;
            margin-right: 0px;
        }

        .searchgo {
            background-color: transparent;
            color: lawngreen;
            border: none;
            padding: 5px 10px;
            border-radius: 5%;
            -webkit-transition: 0.6s;
            -o-transition: 0.6s;
            transition: 0.6s;
            margin-left: 0px;
            background-color: #000;
            border-left: 1px solid #fff;
            font-weight: bold;

            &:hover {
                background-color: lawngreen;
                color: #000;
            }
        }
    }


    .showcase-item {
        width: 100%;
        height: 100%;

        img {
            max-width: 100%;
        }
        .bottom-text {
            width: 100%;
            height: auto;
            padding-top: 5px;
            padding-bottom: 5px;
            background-color: rgba(0,0,0,0.7);
            color: white;
        }
    }

    .row {
        width:100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        top: 0;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: #fff;
    }

    //FOOTER STYLE

    .footer {
        position: relative;
        bottom: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: #444;
        color: #fff;
        font-size: 1em;
        font-weight: bold;
        padding: 1em 1em;
        width: calc(100% - 2em);
    }

}



@-webkit-keyframes mobile-options {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



@keyframes mobile-options {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}