.search-bar{
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider{
    margin-top: 90px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
}

.cards{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transform: scale(0.85);
}

.card{
    width: 20%;
    min-width: 250px;
    margin: 1em;
}

@media only screen and (max-width:991px){
    .cards {
        transform: scale(0.9);
        justify-content: center;
    }
    .card{
        width: 40%;
        min-width: unset;
        margin:1em;
    }
    .card-img-top {
        width: 90%;
        margin: auto;
    }

    .carousel-inner {
        display: none;
    }

    .featured {
        padding-top: 0px !important;
    }
}

@media only screen and (max-width:591px){
    .card {
        width: 80%;
    }
}

.section-header{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.featured{
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    padding-top: 90px;
    width: 100%;
    background: rgb(57,198,255);
    background: linear-gradient(90deg, rgba(57,198,255,1) 0%, rgba(255,255,255,0.5466561624649859) 100%);

}

.featured2{
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    padding-top: 90px;
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.5466561624649859) 0%, rgba(116,255,174,0.804359243697479) 100%);
}

.featured3{
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    padding-top: 90px;
    width: 100%;
    background: rgb(254,255,116);
    background: linear-gradient(90deg, rgba(254,255,116,0.804359243697479) 0%, rgba(255,255,255,0.5466561624649859) 100%);
}

.card-img-top{
    padding-top: 15px;
    padding-bottom: 10px;
    /* height: 240px; */
    width: 90%;
    margin: auto;
}

.price{
    display: flex;
    justify-content: center;
}

.price-text{
    font-family: "museo-sans", sans-serif;
    font-size: 2.1em;
    letter-spacing: 4px;
    font-weight: 600;
    color: #424242;
}


.btn-inf{
    width: 100%;
    display: flex;
    justify-content: center;
}


.login-form{
    margin-top: 170px;
    margin-bottom: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-center{
    width: 90%;
    min-width: 400px;
    max-width: 500px;
}

.border-light{
    border-color: #b3b3b3!important;
}


table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}


.table-data{
    margin-top: 170px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.table-data table{
    width: 80%;
}

.option-btn{
    width: 60px;
}

.spacing-top {
    width: 100%;
    margin-top: 120px;
}

.container {
    max-width: 90%;
}

.product {
    color: black;
}

.quantity {
    display: flex;
    flex-direction: row;
    padding-top: 25% !important;
}

.table>tbody>tr>td,
.table>tfoot>tr>td {
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    table#cart tbody td .form-control {
        display: inline !important;
    }
    .actions .btn {
        width: 36%;
        margin: 1.5em 0;
    }
    .actions .btn-info {
        float: left;
    }
    .actions .btn-danger {
        float: right;
    }
    table#cart thead {
        display: none;
    }
    table#cart tbody td {
        display: block;
        padding: .6rem;
        min-width: 320px;
    }
    table#cart tbody tr td:first-child {
        background: #333;
        color: #fff;
    }
    table#cart tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 8rem;
    }
    table#cart tfoot td {
        display: block;
    }
    table#cart tfoot td .btn {
        display: block;
    }
}


/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
    background-color: white;
    padding: 16px 16px;
    border: 1px solid #ccc;
    width: 500px;
    margin-bottom: 10px;

}



.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

#card-errors{
    color: #fa755a;
}


.card .desc {
    font-weight: bold;
    font-size: 1.2em;
}

.logo{
    width: 200px;
    height: 50px;
}

.navbar-nav{
    margin-left: 50px;
}

.active a{
    color: #e72943!important;
}

.navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link, .navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link{
    background-color: rgba(181,181,181,0.1)!important;
}

.nav-link{
    color: black!important;
    margin-right: 10px!important;
}

.logo{
    width: 150px;
}

.navbar-links{
    margin-right: 40px;
}

.navbar-toggler {
    background-color: #e72943!important;
}


.fixer{
    width: 100%;
    text-align:center;
    margin-top:130px;
}
.test{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    min-width:400px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border: 1px solid rgb(220,220,220);
    border-radius:2px;
    min-height:600px;
    width:500px;
}
.input{
    height:53px;
    padding-left:15px;
    font-size:16px;
}

.featured4{
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    padding-top: 90px;
    width: 100%;
    background: rgb(254,255,116);
    background: linear-gradient(90deg, rgba(255,255,255,0.5466561624649859) 0%, rgba(228,45,71,0.804359243697479) 100%);
}
