.lead{
    font-size: 1.1rem!important;
}
.search-bar{
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider{
    margin-top: 90px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
}

.cards{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transform: scale(0.85);
}

.card{
    width: 20%;
    min-width: 250px;
    margin: 1em;
}

@media only screen and (max-width:991px){
    .cards {
        transform: scale(0.9);
        justify-content: center;
    }
    .card{
        width: 40%;
        min-width: unset;
        margin:1em;
    }
    .card-img-top {
        width: 90%;
        margin: auto;
    }

    .carousel-inner {
        display: none;
    }

    .featured {
        padding-top: 0px !important;
    }
}

@media only screen and (max-width:591px){
    .card {
        width: 80%;
    }
}

.section-header{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.featured{
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    padding-top: 90px;
    width: 100%;
    background: rgb(57,198,255);
    background: linear-gradient(90deg, rgba(57,198,255,1) 0%, rgba(255,255,255,0.5466561624649859) 100%);

}

.featured2{
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    padding-top: 90px;
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.5466561624649859) 0%, rgba(116,255,174,0.804359243697479) 100%);
}

.featured3{
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    padding-top: 90px;
    width: 100%;
    background: rgb(254,255,116);
    background: linear-gradient(90deg, rgba(254,255,116,0.804359243697479) 0%, rgba(255,255,255,0.5466561624649859) 100%);
}

.card-img-top{
    padding-top: 15px;
    padding-bottom: 10px;
    /* height: 240px; */
    width: 90%;
    margin: auto;
}

.price{
    display: flex;
    justify-content: center;
}

.price-text{
    font-family: "museo-sans", sans-serif;
    font-size: 2.1em;
    letter-spacing: 4px;
    font-weight: 600;
    color: #424242;
}


.btn-inf{
    width: 100%;
    display: flex;
    justify-content: center;
}


.login-form{
    margin-top: 170px;
    margin-bottom: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-center{
    width: 90%;
    min-width: 400px;
    max-width: 500px;
}

.border-light{
    border-color: #b3b3b3!important;
}


table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}


.table-data{
    margin-top: 170px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.table-data table{
    width: 80%;
}

.option-btn{
    width: 60px;
}

.spacing-top {
    width: 100%;
    margin-top: 120px;
}

.container {
    max-width: 90%;
}

.product {
    color: black;
}

.quantity {
    display: flex;
    flex-direction: row;
    padding-top: 25% !important;
}

.table>tbody>tr>td,
.table>tfoot>tr>td {
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    table#cart tbody td .form-control {
        display: inline !important;
    }
    .actions .btn {
        width: 36%;
        margin: 1.5em 0;
    }
    .actions .btn-info {
        float: left;
    }
    .actions .btn-danger {
        float: right;
    }
    table#cart thead {
        display: none;
    }
    table#cart tbody td {
        display: block;
        padding: .6rem;
        min-width: 320px;
    }
    table#cart tbody tr td:first-child {
        background: #333;
        color: #fff;
    }
    table#cart tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 8rem;
    }
    table#cart tfoot td {
        display: block;
    }
    table#cart tfoot td .btn {
        display: block;
    }
}


/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
    background-color: white;
    padding: 16px 16px;
    border: 1px solid #ccc;
    width: 500px;
    margin-bottom: 10px;

}



.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

#card-errors{
    color: #fa755a;
}


.card .desc {
    font-weight: bold;
    font-size: 1.2em;
}

.logo{
    width: 200px;
    height: 50px;
}

.navbar-nav{
    margin-left: 50px;
}

.active a{
    color: #e72943!important;
}

.navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link, .navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link{
    background-color: rgba(181,181,181,0.1)!important;
}

.nav-link{
    color: black!important;
    margin-right: 10px!important;
}

.logo{
    width: 150px;
}

.navbar-links{
    margin-right: 40px;
}

.navbar-toggler {
    background-color: #e72943!important;
}


.fixer{
    width: 100%;
    text-align:center;
    margin-top:130px;
}
.test{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    min-width:400px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border: 1px solid rgb(220,220,220);
    border-radius:2px;
    min-height:600px;
    width:500px;
}
.input{
    height:53px;
    padding-left:15px;
    font-size:16px;
}

.featured4{
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    padding-top: 90px;
    width: 100%;
    background: rgb(254,255,116);
    background: linear-gradient(90deg, rgba(255,255,255,0.5466561624649859) 0%, rgba(228,45,71,0.804359243697479) 100%);
}

.contact{
    margin-top: 140px;
}

.contact-form{
    display: flex!important;
    justify-content: center!important;
}


.blog-card {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.6%;
    background: #fff;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
}
.blog-card a {
    color: inherit;
}
.blog-card a:hover {
    color: #5ad67d;
}
.blog-card:hover .photo {
    -webkit-transform: scale(1.3) rotate(3deg);
    transform: scale(1.3) rotate(3deg);
}
.blog-card .meta {
    position: relative;
    z-index: 0;
    height: 200px;
}
.blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
}
.blog-card .details,
.blog-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
}
.blog-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    -webkit-transition: left .2s;
    transition: left .2s;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: .9rem;
}
.blog-card .details a {
    -webkit-text-decoration: dotted underline;
    text-decoration: dotted underline;
}
.blog-card .details ul li {
    display: inline-block;
}
.blog-card .details .author:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\f007";
}
.blog-card .details .date:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\f133";
}
.blog-card .details .tags ul:before {
    font-family: FontAwesome;
    content: "\f02b";
    margin-right: 10px;
}
.blog-card .details .tags li {
    margin-right: 2px;
}
.blog-card .details .tags li:first-child {
    margin-left: -4px;
}
.blog-card .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
}
.blog-card .description h1,
.blog-card .description h2 {
    font-family: Poppins, sans-serif;
}
.blog-card .description h3 {
    font-size: 0.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-top: 5px;
}
.blog-card .description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: black;
    margin-top: 5px;
}
.blog-card .description .read-more {
    text-align: right;
}
.blog-card .description .read-more a {
    color: #e72943;
    display: inline-block;
    position: relative;
}
.blog-card .description .read-more a:after {
    content: "\f061";
    font-family: FontAwesome;
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    -webkit-transition: margin .3s, opacity .3s;
    transition: margin .3s, opacity .3s;
}
.blog-card .description .read-more a:hover:after {
    margin-left: 5px;
    opacity: 1;
}
.blog-card p {
    position: relative;
    margin: 1rem 0 0;
}
.blog-card p:first-of-type {
    margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
    content: "";
    position: absolute;
    height: 5px;
    background: #e72943;
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
}
.blog-card:hover .details {
    left: 0%;
}
@media (min-width: 640px) {
    .blog-card {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        max-width: 700px;
    }
    .blog-card .meta {
        flex-basis: 40%;
        height: auto;
    }
    .blog-card .description {
        flex-basis: 60%;
    }
    .blog-card .description:before {
        -webkit-transform: skewX(-3deg);
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
    .blog-card.alt {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        flex-direction: row-reverse;
    }
    .blog-card.alt .description:before {
        left: inherit;
        right: -10px;
        -webkit-transform: skew(3deg);
        transform: skew(3deg);
    }
    .blog-card.alt .details {
        padding-left: 25px;
    }
}

.inline{
    display: flex!important;
    flex-direction: row!important;
}
